@media (max-width: 1200px)
    body
        background-size: auto
        padding: 30px 0 0 0

@media (max-width: 992px)
    .container
        width: 98%
    
    .main
        padding: 40px 0

    .series
        padding-bottom: 60px

    .header
        &__menu
            padding-right: 0


@media (max-width: 868px)
    body
        background-position: right 75% top

    .main
        &-play
            display: none

@media (max-width: 768px)
    body
        background-position: right 65% top


@media (max-width: 550px)
    .footer
        &-wrapper
            flex-direction: column
        &__copyright
            margin-bottom: 10px


@media (max-width: 525px)
    body
        background-position: right 35% top

@media (min-width: 320px) and (max-width: 480px)
    .container  
        width: 92%
    .menu
        &__button
            display: flex
            
        &__close
            &--mobile
                display: block
                cursor: pointer
            
    .header
        &__menu
            display: none
            &--mobile
                display: flex
                flex-direction: column
                order: 3
            &__link:not(:last-child)
                margin-bottom: 10px
        &__logo
            display: none
            &--mobile
                display: block
                order: 1
                padding-right: 20px
        &__social
            display: none
            &--mobile
                display: flex
                order: 2
                margin-bottom: 10px
        &-wrapper
            display: none
            &--mobile
                display: flex
                position: absolute
                width: 250px
                right: 0
                top: 0px
                background: #151515
                flex-direction: column
                align-items: center
                justify-content: space-evenly
                padding: 50px 0 
        &__mobile-wrapper
            display: flex
            flex-direction: row-reverse
            align-items: center
            margin-bottom: 35px
            margin-left: 40px
        
    .swiper
        &_button
            &__next
                display: none

    .main
        &-content
            width: 100%

